﻿@using ESIO_webApi.Models.ESIO.Entityes
@model List<ESIO_webApi.Models.ESIO.Entityes.SendedValue>
@{
    ViewBag.Title = "Index";
}

<h2>Редактирование имеющихся</h2>
@{
    foreach (SendedValue sendedValue in Model)
    {
        <h5>@sendedValue.Id</h5>
        <h5>@sendedValue.Category</h5>
        <h5>@sendedValue.Name </h5>
        <h5>@sendedValue.Long</h5>
        @Html.ActionLink("Редактировать", "Edit", new { Id = sendedValue.Id } )
    }
}
